body {
    background-color: #ffffff;
    display: flex;
    margin: 0;
}

#menuItems {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    padding: 0px;
    box-sizing: border-box;
    width: 25%;
    min-width: 220px;
}

#jumpMenu {
    display: none;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #DAA520;
}

#recentArticles:hover+#jumpMenu,
#jumpMenu:hover {
    display: flex;
}

#jumpMenu a {
    display: block;
    padding: 10px;
    color: blue;
    text-align: center;
    text-decoration: none;
    font-family: helvetica;
    font-size: 16px;
}

#jumpMenu a:hover {
    background-color: #1B00FF;
    color: black;
}

#jumpMenu:hover {
    display: flex;
    width: 100%;
}


#menuItems button {
    padding: 15px;
    margin: 0px;
    background-color: #1b00ff;
    color: white;
    width: 100%;
    font-size: 16px;
}

#menuItems button:hover {
    background-color: #dba421;
    cursor: pointer;
}

header {
    background-color: red;
    padding: 15px;
    text-align: center;
}

header p {
    font-size: 30px;
    font-family: helvetica;
    color: black;
    text-align: center;
}

main h1 {
    text-align: center;
    font-size: 35px;
    color: black;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

#container article {
    width: 22%;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-family: helvetica;
    font-size: 13px;
    opacity: 0.5;
    text-align: justify;
    line-height: 1.4;
    transition: all 2s;
}

#container article:hover {
    opacity: 1;
    transform: scale(1.1);
    cursor: pointer;
}

#container p:first-of-type::first-letter {
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
}

#container a[href*="google"]::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/64/Icon_External_Link.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#thanks {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 265px;
    background-color: #87cefa;
    color: blue;
    text-align: center;
    padding: 30px;
    font-size: 20px;
    font-family: helvetica;
    margin: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 83px;
    width: 73%;
    background-color: #87cefa;
    color: blue;
    font-size: 20px;
    font-family: helvetica;
    margin: 0;
}